@model Exercises.Models.Data.Course
@{
    ViewBag.Title = "AddCourse";
}
<div class="row">
    <div class="col-xs-12">
        <h2>AddCourse</h2>
        @Html.ActionLink("Return to Courses", "Courses","Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("AddCourse", "Admin", FormMethod.Post))
        {
            <div class="form-group">
                <label>Course Name</label>
                @Html.TextBoxFor(m=>m.CourseName, new { @class = "form-control", placeholder="Course Name"})
            </div>
            <button class="btn btn-primary" type="submit">Save Course</button>
            @Html.ActionLink("Cancel", "Courses", "Admin", new { @class = "btn btn-default"})
        }
    </div>
</div>


