@model Exercises.Models.Data.State
@{
    ViewBag.Title = "AddState";
}
<div class="row">
    <div class="col-xs-12">
        <h2>AddState</h2>
        @Html.ActionLink("Return to State List", "States", "Admin")
    </div>
</div>
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("AddState", "Admin", FormMethod.Post))
            {
                <div class="form-group">
                    <label>State Abbreviation</label>
                    @Html.TextBoxFor(m => m.StateAbbreviation, new { @class = "form-control", placeholder = "State Abbreviation" })
                </div>
                <div class="form-group">
                    <label>State Name</label>
                    @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", placeholder = "State Name" })
                </div>                 
                @Html.ActionLink("Cancel", "States", "Admin", null, new { @class = "btn btn-default" })
                <button class="btn btn-primary" type="submit">Save State</button>
            }

        </div>
    </div>
