@model List<Exercises.Models.Data.Course>
@{
    ViewBag.Title = "Courses";
}
<div class="row">
    <div class="col-xs-12">
        <h2>Courses</h2>
        @*@Html.ActionLink("Add Course", "AddCourse","Admin",null, new { @class = "btn btn-primary"})*@
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @foreach(var course in Model)
            {
                <tbody>
                    <tr>
                        <td>@course.CourseName</td>
                        <td>@Html.ActionLink("Edit", "EditCourse", "Admin",new { courseId = course.CourseId }, null)</td>
                        <td>@Html.ActionLink("Delete","DeleteCourse", "Admin", new {courseId = course.CourseId}, null)</td>
                    </tr>
                </tbody>
            }
        </table>
        @Html.ActionLink("Add Course", "AddCourse", "Admin", null, new { @class = "btn btn-primary" })
    </div>
</div>


